html{
    box-sizing: border-box;
    height: 100%;
}


body{
    font-family: fantasy;
    align-items: center;
    background: linear-gradient(20deg, rgb(255, 104, 104), rgb(241, 201, 201), rgb(255, 171, 185), grey);
    display: flex;
    justify-content: center;
    

}

#pkmnType{
    font-size: 35px;
}

.content{
    backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    display: block;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 2px;
    box-shadow: 10px;
    
}

#pkmnImg{
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#searchBtn{
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 5px;
    font-size: 1.5em;
    color:rgb(255, 255, 255);
    background-color: hsl(0, 0%, 0%);
    cursor: pointer;
    transition: background-color 0.25s;
}

#pkmnName{
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}